<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.actnow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="actNOW"
        android:theme="@style/AppTheme" >
        <activity android:name="org.actnow.MainActivity" />
        <activity android:name="org.actnow.DocumentaryActivity" />
        <activity
            android:name="org.actnow.PetitionActivity"
            android:parentActivityName="org.actnow.DocumentaryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.actnow.DocumentaryActivity" />
        </activity>
        <activity
            android:name="org.actnow.SplashActivity"
            android:theme="@style/AppThemeNoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>